.container {
  background-image: url("../../assets/bg-main.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
