.containerConcluido{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h1{
            font-size: 2.5em;
            color: #21092F;
        }
        p{
            font-size: 1rem;
            text-align: center;
            color: rgba(33, 9, 47, 0.45);
        }
    }
}